*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
#about-me-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}
.profile, .profile-desc{
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
}
.profile-intro{
    padding: 20px;
}
.profile-desc{
    padding: 20px;
}
.about-me-title{
    width: 70%;
    margin: 0 auto;
    padding: 15px 0 20px 15px;
}
.profile-pic img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

/* Form */
input[type="text"]{
    color: green;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid gray;
    outline: none;
    text-align: right;
}

/* Blogs */
.feature-blogs{
    margin-bottom: 50px;
    text-align: center;
}
.blogs{
    max-width: 70%;
    margin: 0 auto;
}

/* Blog */
.blog-directory:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blueviolet;
}
.blog{
    margin-bottom: 50px;
}
/* Main content to display none */
.blog-contents{
    display: none;
}